* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}

h1 {
    font-family: 'Fascinate', cursive;
    font-family: 'Prompt', sans-serif;
}

.navBtn {
    position: fixed;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    border: 1px solid rgb(255, 94, 0, 0.212);
    border-radius: 50%;
    background-color: rgba(255, 94, 0, 0.212);
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    text-align: center;
    padding: 0;
    transition: .4s all;
}

.nvaBtnDisplay {
    display: flex;
}

.navBtn a {
    margin: auto;
}

.navBtn:hover {
    background-color: orange;
}

#navbarNav {
    text-align: center;
    justify-content: center;
}

.bg-dark {
    background-color: rgb(255, 255, 255) !important;
}

.nav-link {
    margin: 7px;
}

#navbarNav ul li a:hover {
    background-color: antiquewhite;
    border-radius: 5%;
}

.jumbotron {
    background: transparent;
    height: 100vh;
    position: relative;
    top: 100px;
}

.bg-image {
    position: fixed;
    top: 0;
    z-index: -4;
    height: 100vh;
}

.white-bg {
    background-color: rgb(255, 255, 255);
    opacity: 40%;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.container_quickLincks {
    text-align: center;
    padding: 50px 40px;
}

.con_quickLinksContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.quickLinks_cont {
    margin: 20px 10px;
    width: 200px;
    background-color: rgb(227, 247, 250);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 2%;
    cursor: pointer;
    animation: .2s;
}

.quickLinks_cont:hover {
    background-color: rgb(221, 249, 253);
    width: 210px;
}

.container0 {
    text-align: center;
    padding-top: 10px;
    background-color: rgba(252, 246, 240, 0.623);
}

.container0 h1 {
    text-decoration: underline rgb(0, 0, 0);
}

.container02 {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont01 {
    border-radius: 2%;
    padding: 10px;
    margin: 20px 15px;
    display: flex;
    align-items: center;
    text-align: left;
}

.cont01 i {
    font-size: 25px;
    margin-right: 5px;
}

.container1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.carousel01 {
    position: relative;
    top: 10px;
    margin: auto;
}

.carousel01 .image {
    overflow: hidden;
}

.course {
    position: relative;
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 20px;
    text-align: center;
}

.course h1 {
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    text-decoration: underline;
}

.co_item {
    display: flex;
}

.co_item .col .card .card-body {
    height: 200px;
}

footer {
    padding: 50px;
    background-color: black;
}

.footer {
    padding: 15px !important;
    color: aliceblue;
    background-color: rgba(12, 12, 12, 0.849);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-content {
    width: 230px;
    margin: 10px;
}

.footer-content h4 {
    margin-bottom: 25px;
}

.footer-content i {
    font-size: 25px;
    margin: 5px;
    transition: .2s;
}

.footer-content p i {
    font-size: 23px;
}

.footer-content p:hover {
    cursor: pointer;
    color: whitesmoke;
    font-size: 20px;
}

.footer-content p i:hover {
    cursor: pointer;
    font-size: 30px;
    color: antiquewhite;
}

.newslatter {
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.newslatter .text {
    width: 40vw;
}

.newslatter .text h2 {
    margin-bottom: 0;
}

.email {
    display: flex;
    align-items: center;
}

.email input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px black;
    width: 300px;
    height: 50px;
    padding: 5PX;
}

.email button {
    position: relative;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;
    background-color: white;
    left: -10px;
    margin: 0;
    padding: 0;
}

.email input:focus {
    border: 0;
}

@media (max-width: 667.98px) {
    .bg-image {
        right: -10px;
    }
}

@media (max-width: 529.5px) {
    .email button {
        left: 0;
        margin: 0;
    }
}

@media (max-width: 586px) {
    .second {
        display: none;
    }
}
